In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
# data1 = pd.read_excel("./DB/1_호선별 개정도 현황_호선별 개정도 LIST(3개 호선)_설명포함.xlsx", sheet_name = None)
# data2 = pd.read_excel("./DB/2_설계변경요청 현황_설계변경요청 회신 정보(3개 호선)_설명포함.xlsx")
# data4 = pd.read_excel("./DB/4_구조의장 생산설계 DP 현황_의장생설 D_P&BOM TOTAL LIST 조회(3개 호선)_설명포함.xlsx")
# data5 = pd.read_excel("./DB/5_용접불량율.xlsx")

data = pd.read_excel("./DB/3_구조의장 생산설계 DP 현황_구조생설 D_P&BOM TOTAL LIST 조회(3개 호선)_설명포함.xlsx", sheet_name = None)

In [ ]:
Cot = data["P1_COT 구조생설DP"]
Stl = data["P2_STL 구조생설DP"]
Cnt = data["P3_CNT 구조생설DP"]

In [39]:
Cot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No          790 non-null    int64
 1   프로젝트        790 non-null    object
 2   D/P&BOM 코드  790 non-null    object
 3   D/P&BOM 내역  790 non-null    object
 4   설계기능        790 non-null    object
 5   도면종류        790 non-null    object
 6   협력사         224 non-null    object
 7   직영책임부서      790 non-null    object
 8   작업 출도계획     790 non-null    datetime64[ns]
 9   작업 출도실적     790 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 61.8+ KB

In [40]:
Stl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No          977 non-null    int64
 1   프로젝트        977 non-null    object
 2   D/P&BOM 코드  977 non-null    object
 3   D/P&BOM 내역  977 non-null    object
 4   설계기능        977 non-null    object
 5   도면종류        977 non-null    object
 6   협력사         295 non-null    object
 7   직영책임부서      977 non-null    object
 8   작업 출도계획     977 non-null    datetime64[ns]
 9   작업 출도실적     977 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 76.5+ KB

In [41]:
Cnt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No          1303 non-null   int64
 1   프로젝트        1303 non-null   object
 2   D/P&BOM 코드  1303 non-null   object
 3   D/P&BOM 내역  1303 non-null   object
 4   설계기능        1303 non-null   object
 5   도면종류        1303 non-null   object
 6   협력사         100 non-null    object
 7   직영책임부서      1303 non-null   object
 8   작업 출도계획     1303 non-null   datetime64[ns]
 9   작업 출도실적     1303 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 101.9+ KB

In [42]:
df = pd.concat([Cot, Stl, Cnt], ignore_index = True)

df

,No,프로젝트,D/P&BOM 코드,D/P&BOM 내역,설계기능,도면종류,협력사,직영책임부서,작업 출도계획,작업 출도실적
0,1,P1,DPBOM000000001,도장,F1,D1,NaN,D1,2014-07-13,2014-07-10
1,2,P1,DPBOM000000002,도장,F1,D1,NaN,D1,2014-07-13,2014-07-10
2,3,P1,DPBOM000000003,가공,F2,D2,D5,D3,2014-07-14,2014-07-09
3,4,P1,DPBOM000000004,족장,F3,D3,NaN,D4,2014-07-21,2014-06-30
4,5,P1,DPBOM000000005,공작,F2,D4,D5,D3,2014-07-21,2014-06-16
...,...,...,...,...,...,...,...,...,...,...
3065,1423,P3,DPBOM000002133,공작,F2,D4,NaN,D3,2014-10-09,2014-10-11
3066,1424,P3,DPBOM000002134,철의장,F2,D5,NaN,D3,2014-08-20,2014-08-20
3067,1425,P3,DPBOM000001232,도장,F1,D1,NaN,D1,2014-04-16,2014-07-21
3068,1426,P3,DPBOM000000789,가공,F4,D2,NaN,D3,2014-07-08,2014-07-06
3069,1427,P3,DPBOM000000790,공작,F4,D4,NaN,D3,2014-07-19,2014-07-10

In [43]:
df.columns

Index(['No', '프로젝트', 'D/P&BOM 코드', 'D/P&BOM 내역', '설계기능', '도면종류', '협력사',
       '직영책임부서', '작업 출도계획', '작업 출도실적'],
      dtype='object')

In [46]:
df[['프로젝트', 'D/P&BOM 내역', '설계기능', '도면종류', '협력사', '직영책임부서', '작업 출도계획', '작업 출도실적']]

     프로젝트 D/P&BOM 내역 설계기능 도면종류  협력사 직영책임부서    작업 출도계획    작업 출도실적
0      P1         도장   F1   D1  NaN     D1 2014-07-13 2014-07-10
1      P1         도장   F1   D1  NaN     D1 2014-07-13 2014-07-10
2      P1         가공   F2   D2   D5     D3 2014-07-14 2014-07-09
3      P1         족장   F3   D3  NaN     D4 2014-07-21 2014-06-30
4      P1         공작   F2   D4   D5     D3 2014-07-21 2014-06-16
...   ...        ...  ...  ...  ...    ...        ...        ...
3065   P3         공작   F2   D4  NaN     D3 2014-10-09 2014-10-11
3066   P3        철의장   F2   D5  NaN     D3 2014-08-20 2014-08-20
3067   P3         도장   F1   D1  NaN     D1 2014-04-16 2014-07-21
3068   P3         가공   F4   D2  NaN     D3 2014-07-08 2014-07-06
3069   P3         공작   F4   D4  NaN     D3 2014-07-19 2014-07-10

[3070 rows x 8 columns]

In [ ]:
from datetime import datetime

df[]

In [2]:
import requests
from bs4 import BeautifulSoup

# 크롤링할 웹 페이지의 URL
url = 'https://naver.com'

# HTTP GET 요청을 보내서 웹 페이지 가져오기
response = requests.get(url)

# 가져온 웹 페이지의 HTML 문서 파싱하기
soup = BeautifulSoup(response.text, 'html.parser')

# 원하는 데이터 추출하기 (예: 제목 태그)
title = soup.find('title').get_text()

print(f'페이지 제목: {title}')

페이지 제목: NAVER

In [3]:
import requests
import json

city = "Seoul" #도시
apiKey = "12cbb94c69458b0c45a01c760c2e7bf1"
lang = 'kr' #언어
units = 'metric' #화씨 온도를 섭씨 온도로 변경
api = f"https://api.openweathermap.org/data/2.5/weather?q={city}&appid={apiKey}&lang={lang}&units={units}"

result = requests.get(api)
result = json.loads(result.text)

print(result)

{'cod': 401, 'message': 'Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.'}

In [9]:
import os
import sys
import urllib.request
client_id = "c1M21TFbnPsLTH9OSif4"
cilent_secret = "futUGBEK8j"
encText = urllib.parse.quote("삼성중공업")
url = "https://openai.naver.com/v1/search"

In [3]:
import requests

# 네이버 API 클라이언트 ID와 시크릿 키 설정
client_id = 'your_client_id'  # 네이버 개발자 센터에서 발급받은 Client ID
client_secret = 'your_client_secret'  # 네이버 개발자 센터에서 발급받은 Client Secret

# 뉴스 검색 API URL
url = 'https://openapi.naver.com/v1/search/news.json'

# 검색할 쿼리와 기타 옵션 설정
query = 'AI 뉴스'  # 검색할 키워드
params = {
    'query': query,  # 검색어
    'display': 5,    # 출력 뉴스 수 (최대 100개)
    'start': 1,      # 검색 시작 위치
    'sort': 'date'   # 정렬 기준 (sim: 정확도순, date: 최신순)
}

# 헤더에 API 인증 정보 추가
headers = {
    'X-Naver-Client-Id': "c1M21TFbnPsLTH9OSif4",
    'X-Naver-Client-Secret': "futUGBEK8j"
}

# GET 요청을 보내고, 응답을 받아옴
response = requests.get(url, headers=headers, params=params)

# JSON 형식으로 응답 데이터를 파싱
data = response.json()

# 뉴스 기사 출력
for item in data['items']:
    title = item['title']  # 뉴스 제목
    link = item['link']    # 뉴스 링크
    description = item['description']  # 뉴스 설명

    # HTML 태그 제거 (네이버 뉴스 제목과 설명에 HTML 태그가 포함될 수 있음)
    title = title.replace('<b>', '').replace('</b>', '')
    description = description.replace('<b>', '').replace('</b>', '')

    print(f'제목: {title}')
    print(f'링크: {link}')
    print(f'요약: {description}')
    print('-' * 40)

제목: MZ에게 사랑받는 'AI검색'...뤼튼 &quot;'쉽고 재미있는' 검색으로 주도권 잡...
링크: https://n.news.naver.com/mnews/article/014/0005236453?sid=105
요약: 뤼튼테크놀로지스의 이세영 대표( 사진)는 3일 파이낸셜뉴스와의 인터뷰에서 &quot;사용자 특성과 관심사에 맞게 답변을 생성하고 유관한 질문과 콘텐츠를 추천 및 연결해주는 것이 AI 검색의 성능 고도화 관점에서 중요한...
----------------------------------------
제목: LGU+ 'AI 에이전트'가 IPTV 맞춤형 콘텐츠 제안
링크: https://www.newsworks.co.kr/news/articleView.html?idxno=764509
요약: LG유플러스가 IPTV 서비스 'U+tv'에 익시 기반의 AI 에이전트를 적용하고, 초개인화된 시청경험을 제공하는... 사람 누구지' 3가지 기능은 최근 1년간 누적 이용건수 1430만건을 기록하며 높은 호응을 받고 있다. [뉴스웍스=]
----------------------------------------
제목: 삼성액티브자산, 국내 최초 '치매 치료제' 특화 ETF 상장
링크: https://www.apnews.kr/news/articleView.html?idxno=3024087
요약: ©AP신문(AP뉴스)/ 이미지 제공 = 삼성액티브자산운용  삼성액티브자산운용은 'KoAct'의 일곱 번째 ETF로 'KoAct... 하지만, 최근 뇌 이미징과 AI 기술 발전에 힘입어 뇌질환 신약 개발 과정 및 성공률이 개선되면서 뇌질환...
----------------------------------------
제목: 강기정 광주시장, 투자유치기업 초청 간담회
링크: https://n.news.naver.com/mnews/article/421/0007767685?sid=100
요약: 강기정 광주시장이 '국회, 광주의 날' 둘째날인 3일 서울 국회 앞 식당에서 투자유치기업 초청 간담회를 갖고 기업체 대표들과 AI 투자유치 활성화 방안을 논의하고 있다.(광주시 제공)2024.9.3/뉴스1
----------------------------------------
제목: '국회, 광주의 날'...광주시 투자유치기업 초청 간담회
링크: https://n.news.naver.com/mnews/article/421/0007767682?sid=100
요약: 강기정 광주시장이 '국회, 광주의 날' 둘째날인 3일 서울 국회 앞 식당에서 투자유치기업 초청 간담회를 갖고 기업체 대표들과 AI 투자유치 활성화 방안을 논의한 뒤 기념촬영을 하고 있다.(광주시 제공)2024.9.3/뉴스1
----------------------------------------

In [ ]:
import requests
import json

lat = "34.8988"
lon = "128.6025"
apikey = "12cbb94c69458b0c45a01c760c2e7bf1"
lang = "kr"

api = f"""http://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={apikey}"""

result = requests.get(api)

data = json.loads(result.text)

print(data)

# 지역 : name
print(data["name"],"의 날씨입니다.")
# 자세한 날씨 : weather - description
print("날씨는 ",data["weather"][0]["description"],"입니다.")
# 현재 온도 : main - temp
print("현재 온도는 ",data["main"]["temp"],"입니다.")
# 체감 온도 : main - feels_like
print("하지만 체감 온도는 ",data["main"]["feels_like"],"입니다.")
# 최저 기온 : main - temp_min
print("최저 기온은 ",data["main"]["temp_min"],"입니다.")
# 최고 기온 : main - temp_max
print("최고 기온은 ",data["main"]["temp_max"],"입니다.")
# 습도 : main - humidity
print("습도는 ",data["main"]["humidity"],"입니다.")
# 기압 : main - pressure
print("기압은 ",data["main"]["pressure"],"입니다.")
# 풍향 : wind - deg
print("풍향은 ",data["wind"]["deg"],"입니다.")
# 풍속 : wind - speed
print("풍속은 ",data["wind"]["speed"],"입니다.")