In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
# data1 = pd.read_excel("./DB/1_호선별 개정도 현황_호선별 개정도 LIST(3개 호선)_설명포함.xlsx", sheet_name = None)
# data2 = pd.read_excel("./DB/2_설계변경요청 현황_설계변경요청 회신 정보(3개 호선)_설명포함.xlsx")
# data4 = pd.read_excel("./DB/4_구조의장 생산설계 DP 현황_의장생설 D_P&BOM TOTAL LIST 조회(3개 호선)_설명포함.xlsx")
# data5 = pd.read_excel("./DB/5_용접불량율.xlsx")

data = pd.read_excel("./DB/3_구조의장 생산설계 DP 현황_구조생설 D_P&BOM TOTAL LIST 조회(3개 호선)_설명포함.xlsx", sheet_name = None)

In [ ]:
Cot = data["P1_COT 구조생설DP"]
Stl = data["P2_STL 구조생설DP"]
Cnt = data["P3_CNT 구조생설DP"]

In [39]:
Cot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No          790 non-null    int64
 1   프로젝트        790 non-null    object
 2   D/P&BOM 코드  790 non-null    object
 3   D/P&BOM 내역  790 non-null    object
 4   설계기능        790 non-null    object
 5   도면종류        790 non-null    object
 6   협력사         224 non-null    object
 7   직영책임부서      790 non-null    object
 8   작업 출도계획     790 non-null    datetime64[ns]
 9   작업 출도실적     790 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 61.8+ KB

In [40]:
Stl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No          977 non-null    int64
 1   프로젝트        977 non-null    object
 2   D/P&BOM 코드  977 non-null    object
 3   D/P&BOM 내역  977 non-null    object
 4   설계기능        977 non-null    object
 5   도면종류        977 non-null    object
 6   협력사         295 non-null    object
 7   직영책임부서      977 non-null    object
 8   작업 출도계획     977 non-null    datetime64[ns]
 9   작업 출도실적     977 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 76.5+ KB

In [41]:
Cnt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No          1303 non-null   int64
 1   프로젝트        1303 non-null   object
 2   D/P&BOM 코드  1303 non-null   object
 3   D/P&BOM 내역  1303 non-null   object
 4   설계기능        1303 non-null   object
 5   도면종류        1303 non-null   object
 6   협력사         100 non-null    object
 7   직영책임부서      1303 non-null   object
 8   작업 출도계획     1303 non-null   datetime64[ns]
 9   작업 출도실적     1303 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 101.9+ KB

In [42]:
df = pd.concat([Cot, Stl, Cnt], ignore_index = True)

df

,No,프로젝트,D/P&BOM 코드,D/P&BOM 내역,설계기능,도면종류,협력사,직영책임부서,작업 출도계획,작업 출도실적
0,1,P1,DPBOM000000001,도장,F1,D1,NaN,D1,2014-07-13,2014-07-10
1,2,P1,DPBOM000000002,도장,F1,D1,NaN,D1,2014-07-13,2014-07-10
2,3,P1,DPBOM000000003,가공,F2,D2,D5,D3,2014-07-14,2014-07-09
3,4,P1,DPBOM000000004,족장,F3,D3,NaN,D4,2014-07-21,2014-06-30
4,5,P1,DPBOM000000005,공작,F2,D4,D5,D3,2014-07-21,2014-06-16
...,...,...,...,...,...,...,...,...,...,...
3065,1423,P3,DPBOM000002133,공작,F2,D4,NaN,D3,2014-10-09,2014-10-11
3066,1424,P3,DPBOM000002134,철의장,F2,D5,NaN,D3,2014-08-20,2014-08-20
3067,1425,P3,DPBOM000001232,도장,F1,D1,NaN,D1,2014-04-16,2014-07-21
3068,1426,P3,DPBOM000000789,가공,F4,D2,NaN,D3,2014-07-08,2014-07-06
3069,1427,P3,DPBOM000000790,공작,F4,D4,NaN,D3,2014-07-19,2014-07-10

In [43]:
df.columns

Index(['No', '프로젝트', 'D/P&BOM 코드', 'D/P&BOM 내역', '설계기능', '도면종류', '협력사',
       '직영책임부서', '작업 출도계획', '작업 출도실적'],
      dtype='object')

In [46]:
df[['프로젝트', 'D/P&BOM 내역', '설계기능', '도면종류', '협력사', '직영책임부서', '작업 출도계획', '작업 출도실적']]

     프로젝트 D/P&BOM 내역 설계기능 도면종류  협력사 직영책임부서    작업 출도계획    작업 출도실적
0      P1         도장   F1   D1  NaN     D1 2014-07-13 2014-07-10
1      P1         도장   F1   D1  NaN     D1 2014-07-13 2014-07-10
2      P1         가공   F2   D2   D5     D3 2014-07-14 2014-07-09
3      P1         족장   F3   D3  NaN     D4 2014-07-21 2014-06-30
4      P1         공작   F2   D4   D5     D3 2014-07-21 2014-06-16
...   ...        ...  ...  ...  ...    ...        ...        ...
3065   P3         공작   F2   D4  NaN     D3 2014-10-09 2014-10-11
3066   P3        철의장   F2   D5  NaN     D3 2014-08-20 2014-08-20
3067   P3         도장   F1   D1  NaN     D1 2014-04-16 2014-07-21
3068   P3         가공   F4   D2  NaN     D3 2014-07-08 2014-07-06
3069   P3         공작   F4   D4  NaN     D3 2014-07-19 2014-07-10

[3070 rows x 8 columns]

In [34]:
import requests
import json

city = "Koje" #도시
apiKey = "12cbb94c69458b0c45a01c760c2e7bf1"
lang = 'kr' #언어
units = 'metric' #화씨 온도를 섭씨 온도로 변경
api = f"https://api.openweathermap.org/data/2.5/weather?q={city}&appid={apiKey}&lang={lang}&units={units}"

result = requests.get(api)
result = json.loads(result.text)

print(result)

{'coord': {'lon': 128.6208, 'lat': 34.8847}, 'weather': [{'id': 800, 'main': 'Clear', 'description': '맑음', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 29.85, 'feels_like': 33.78, 'temp_min': 29.85, 'temp_max': 29.85, 'pressure': 1008, 'humidity': 66, 'sea_level': 1008, 'grnd_level': 1005}, 'visibility': 10000, 'wind': {'speed': 7.69, 'deg': 91, 'gust': 8.3}, 'clouds': {'all': 0}, 'dt': 1725434932, 'sys': {'type': 1, 'id': 8086, 'country': 'KR', 'sunrise': 1725397236, 'sunset': 1725443338}, 'timezone': 32400, 'id': 1949757, 'name': 'Kŏje', 'cod': 200}

In [24]:
### MYSql 연동
# !pip install mysql-connector-python

import mysql.connector
from mysql.connector import Error

try:
    # MySQL 서버에 연결
    connection = mysql.connector.connect(
        host='localhost',
        user='root',           # MySQL 사용자 이름
        password='0000',   # MySQL 비밀번호
        database='news_database'
    )
    
    if connection.is_connected():
        print("MySQL에 성공적으로 연결되었습니다.")
    
        # 커서 객체 생성
        cursor = connection.cursor()
        
        # 도큐먼트 삽입
        insert_query = """
        INSERT INTO news (title, description, link, pubDate)
        VALUES (%s, %s, %s, %s)
        """
        document = ("Sample News Title", "This is a sample news description.", "http://example.com/sample-news", "2024-09-04 10:00:00")
        cursor.execute(insert_query, document)
        connection.commit()
        print("도큐먼트 삽입 완료.")
        
        # 도큐먼트 조회
        select_query = "SELECT * FROM news"
        cursor.execute(select_query)
        result = cursor.fetchall()
        print("도큐먼트 목록:")
        for row in result:
            print(row)

except Error as e:
    print(f"오류 발생: {e}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL 연결이 종료되었습니다.")

MySQL에 성공적으로 연결되었습니다.
도큐먼트 삽입 완료.
도큐먼트 목록:
(1, 'Sample News Title', 'This is a sample news description.', 'http://example.com/sample-news', datetime.datetime(2024, 9, 4, 10, 0))
MySQL 연결이 종료되었습니다.

In [1]:
import requests
import mysql.connector
import time
from datetime import datetime

# 네이버 API 설정
NAVER_CLIENT_ID = 'c1M21TFbnPsLTH9OSif4'
NAVER_CLIENT_SECRET = 'futUGBEK8j'
NAVER_API_URL = 'https://openapi.naver.com/v1/search/news.json'

# MySQL 설정
MYSQL_HOST = 'localhost'
MYSQL_USER = 'root'
MYSQL_PASSWORD = '0000'
MYSQL_DATABASE = 'news_database'

# 특정 키워드 설정
KEYWORD = '삼성중공업'

def fetch_news_from_naver(keyword):
    headers = {
        'X-Naver-Client-Id': NAVER_CLIENT_ID,
        'X-Naver-Client-Secret': NAVER_CLIENT_SECRET
    }
    params = {
        'query': keyword,
        'display': 10,  # 최대 100개 뉴스 추출
        'start': 1,      # 시작 위치
        'sort': 'date'   # 날짜 기준으로 정렬
    }
    response = requests.get(NAVER_API_URL, headers=headers, params=params)
    response.raise_for_status()
    return response.json()

def save_news_to_db(news_items):
    connection = mysql.connector.connect(
        host=MYSQL_HOST,
        user=MYSQL_USER,
        password=MYSQL_PASSWORD,
        database=MYSQL_DATABASE
    )
    cursor = connection.cursor()
    
    insert_query = """INSERT INTO news (title, description, link, pubDate) VALUES (%s, %s, %s, %s)"""
    
    # 네이버 API에서 받은 뉴스 기사 삽입
    for item in news_items:
        title = item['title'].replace('<b>', '').replace('</b>', '')  
        description = item['description'].replace('<b>', '').replace('</b>', '')
        link = item['link']
        pubDate = datetime.strptime(item['pubDate'], "%a, %d %b %Y %H:%M:%S %z")
        
        document = (title, description, link, pubDate)
        cursor.execute(insert_query, document)
    
    connection.commit()
    cursor.close()
    connection.close()

def main():
    while True:
        try:
            news_data = fetch_news_from_naver(KEYWORD)
            news_items = news_data.get('items', [])
            save_news_to_db(news_items)
            print(f"{datetime.now()}: News data fetched and saved to database.")
        except Exception as e:
            print(f"Error: {e}")
        time.sleep(60)  # 10분 대기

if __name__ == "__main__":
    main()

2024-09-04 21:30:46.090217: News data fetched and saved to database.
Error: 1062 (23000): Duplicate entry 'http://www.ujeil.com/news/articleView.html?idxno=353870' for key 'news.link'

KeyboardInterrupt:

In [1]:
############## openweather API ############################


import requests
import mysql.connector
from mysql.connector import Error
from datetime import datetime, timezone
import schedule
import time

# OpenWeatherMap API 키 설정
api_key = "12cbb94c69458b0c45a01c760c2e7bf1"

# 거제시의 위도와 경도
latitude = 34.8806
longitude = 128.6211

# MySQL 데이터베이스 설정
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '0000',
    'database': 'news_database'
}

# OpenWeatherMap 5일/3시간 예보 API 엔드포인트
url = "https://api.openweathermap.org/data/2.5/forecast"

# MySQL에 날씨 데이터 저장 함수
def store_weather_data(data):
    try:
        # MySQL 서버에 연결
        connection = mysql.connector.connect(**db_config)
        if connection.is_connected():
            print("MySQL에 성공적으로 연결되었습니다.")
            
            cursor = connection.cursor()
            
            # 도큐먼트 삽입 쿼리
            insert_query = """
            INSERT INTO weather (dt, temperature, max_temperature, min_temperature, humidity, wind_power, weather_description)
            VALUES (%s, %s, %s, %s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE
            temperature = VALUES(temperature), max_temperature = VALUES(max_temperature), min_temperature = VALUES(min_temperature), humidity = VALUES(humidity), wind_power = VALUES(wind_power), weather_description = VALUES(weather_description)
            """
            
            for forecast in data['list']:
                timestamp = forecast['dt']
                dt = datetime.fromtimestamp(timestamp, timezone.utc)
                temperature = forecast['main']['temp']
                max_temperature = forecast['main']['temp_max']
                min_temperature = forecast['main']['temp_min']
                humidity = forecast['main']['humidity']
                wind_power = forecast['wind']['speed']
                weather_description = forecast['weather'][0]['description']
                
                # 전달할 값이 7개로 쿼리와 맞추어야 함
                document = (dt, temperature, max_temperature, min_temperature, humidity, wind_power, weather_description)
                cursor.execute(insert_query, document)
            
            connection.commit()
            print(f"날씨 데이터가 {datetime.now()}에 MySQL에 성공적으로 저장되었습니다.")
            
    except Error as e:
        print(f"MySQL 오류: {e}")
    finally:
        if connection and connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL 연결이 종료되었습니다.")

# 날씨 데이터를 가져오는 함수
def fetch_weather_data():
    params = {
        "lat": latitude,      # 위도
        "lon": longitude,     # 경도
        "appid": api_key,     # API 키
        "units": "metric",    # 온도 단위 (metric: 섭씨, imperial: 화씨)
        "lang": "kr"          # 언어 (kr: 한국어, en: 영어 등)
    }
    
    try:
        response = requests.get(url, params=params)
        response.raise_for_status()
        data = response.json()
        
        # 데이터 저장 함수 호출
        store_weather_data(data)
        
    except requests.exceptions.RequestException as e:
        print(f"API 요청 오류: {e}")

# 초기 실행 및 스케줄 설정
def main():
    # 초기 실행
    print("초기 데이터 가져오기...")
    fetch_weather_data()
    
    # 3시간마다 날씨 가져오기 설정
    schedule.every(3).hours.do(fetch_weather_data)
    
    print("스케줄러가 시작되었습니다.")
    try:
        while True:
            schedule.run_pending()
            time.sleep(1)
    except KeyboardInterrupt:
        print("스케줄러가 중지되었습니다.")

if __name__ == "__main__":
    main()

초기 데이터 가져오기...
MySQL에 성공적으로 연결되었습니다.
날씨 데이터가 2024-09-04 21:14:55.629468에 MySQL에 성공적으로 저장되었습니다.
MySQL 연결이 종료되었습니다.
스케줄러가 시작되었습니다.
스케줄러가 중지되었습니다.