In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
# data1 = pd.read_excel("./DB/1_호선별 개정도 현황_호선별 개정도 LIST(3개 호선)_설명포함.xlsx", sheet_name = None)
# data2 = pd.read_excel("./DB/2_설계변경요청 현황_설계변경요청 회신 정보(3개 호선)_설명포함.xlsx")
# data4 = pd.read_excel("./DB/4_구조의장 생산설계 DP 현황_의장생설 D_P&BOM TOTAL LIST 조회(3개 호선)_설명포함.xlsx")
# data5 = pd.read_excel("./DB/5_용접불량율.xlsx")

data = pd.read_excel("./DB/3_구조의장 생산설계 DP 현황_구조생설 D_P&BOM TOTAL LIST 조회(3개 호선)_설명포함.xlsx", sheet_name = None)

In [ ]:
Cot = data["P1_COT 구조생설DP"]
Stl = data["P2_STL 구조생설DP"]
Cnt = data["P3_CNT 구조생설DP"]

In [39]:
Cot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No          790 non-null    int64
 1   프로젝트        790 non-null    object
 2   D/P&BOM 코드  790 non-null    object
 3   D/P&BOM 내역  790 non-null    object
 4   설계기능        790 non-null    object
 5   도면종류        790 non-null    object
 6   협력사         224 non-null    object
 7   직영책임부서      790 non-null    object
 8   작업 출도계획     790 non-null    datetime64[ns]
 9   작업 출도실적     790 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 61.8+ KB

In [40]:
Stl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No          977 non-null    int64
 1   프로젝트        977 non-null    object
 2   D/P&BOM 코드  977 non-null    object
 3   D/P&BOM 내역  977 non-null    object
 4   설계기능        977 non-null    object
 5   도면종류        977 non-null    object
 6   협력사         295 non-null    object
 7   직영책임부서      977 non-null    object
 8   작업 출도계획     977 non-null    datetime64[ns]
 9   작업 출도실적     977 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 76.5+ KB

In [41]:
Cnt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No          1303 non-null   int64
 1   프로젝트        1303 non-null   object
 2   D/P&BOM 코드  1303 non-null   object
 3   D/P&BOM 내역  1303 non-null   object
 4   설계기능        1303 non-null   object
 5   도면종류        1303 non-null   object
 6   협력사         100 non-null    object
 7   직영책임부서      1303 non-null   object
 8   작업 출도계획     1303 non-null   datetime64[ns]
 9   작업 출도실적     1303 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 101.9+ KB

In [42]:
df = pd.concat([Cot, Stl, Cnt], ignore_index = True)

df

,No,프로젝트,D/P&BOM 코드,D/P&BOM 내역,설계기능,도면종류,협력사,직영책임부서,작업 출도계획,작업 출도실적
0,1,P1,DPBOM000000001,도장,F1,D1,NaN,D1,2014-07-13,2014-07-10
1,2,P1,DPBOM000000002,도장,F1,D1,NaN,D1,2014-07-13,2014-07-10
2,3,P1,DPBOM000000003,가공,F2,D2,D5,D3,2014-07-14,2014-07-09
3,4,P1,DPBOM000000004,족장,F3,D3,NaN,D4,2014-07-21,2014-06-30
4,5,P1,DPBOM000000005,공작,F2,D4,D5,D3,2014-07-21,2014-06-16
...,...,...,...,...,...,...,...,...,...,...
3065,1423,P3,DPBOM000002133,공작,F2,D4,NaN,D3,2014-10-09,2014-10-11
3066,1424,P3,DPBOM000002134,철의장,F2,D5,NaN,D3,2014-08-20,2014-08-20
3067,1425,P3,DPBOM000001232,도장,F1,D1,NaN,D1,2014-04-16,2014-07-21
3068,1426,P3,DPBOM000000789,가공,F4,D2,NaN,D3,2014-07-08,2014-07-06
3069,1427,P3,DPBOM000000790,공작,F4,D4,NaN,D3,2014-07-19,2014-07-10

In [43]:
df.columns

Index(['No', '프로젝트', 'D/P&BOM 코드', 'D/P&BOM 내역', '설계기능', '도면종류', '협력사',
       '직영책임부서', '작업 출도계획', '작업 출도실적'],
      dtype='object')

In [46]:
df[['프로젝트', 'D/P&BOM 내역', '설계기능', '도면종류', '협력사', '직영책임부서', '작업 출도계획', '작업 출도실적']]

     프로젝트 D/P&BOM 내역 설계기능 도면종류  협력사 직영책임부서    작업 출도계획    작업 출도실적
0      P1         도장   F1   D1  NaN     D1 2014-07-13 2014-07-10
1      P1         도장   F1   D1  NaN     D1 2014-07-13 2014-07-10
2      P1         가공   F2   D2   D5     D3 2014-07-14 2014-07-09
3      P1         족장   F3   D3  NaN     D4 2014-07-21 2014-06-30
4      P1         공작   F2   D4   D5     D3 2014-07-21 2014-06-16
...   ...        ...  ...  ...  ...    ...        ...        ...
3065   P3         공작   F2   D4  NaN     D3 2014-10-09 2014-10-11
3066   P3        철의장   F2   D5  NaN     D3 2014-08-20 2014-08-20
3067   P3         도장   F1   D1  NaN     D1 2014-04-16 2014-07-21
3068   P3         가공   F4   D2  NaN     D3 2014-07-08 2014-07-06
3069   P3         공작   F4   D4  NaN     D3 2014-07-19 2014-07-10

[3070 rows x 8 columns]

In [ ]:
from datetime import datetime

df[]